nodered.js
[{"id":"e1d02b0f.1e2fd8","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<!--[if IE 9]><html class=\"lt-ie10\" lang=\"en\" > <![endif]-->\n<html class=\"no-js\" lang=\"en\" >\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BlueTodo</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/BluemixCloud/calculator/master/style.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js\"></script>\n</head>\n<body>\n    \n    <div class=\"row\">\n        <div class=\"small-12 columns\">\n            <h1>BlueTodo</h1>\n\n            <div class=\"panel radius\">\n                <form method=\"post\" action=\"/todo\">\n                  <div class=\"row\">\n                    <div class=\"small-4 columns\">\n                        <input type=\"text\" placeholder=\"Get Milk\" name=\"title\">\n                    </div>\n                    <div class=\"small-4 columns\">\n                        <input type=\"text\" placeholder=\"High\" name=\"priority\">\n                    </div>\n                    <div class=\"small-4 columns\">\n                        <button type=\"submit\" class=\"tiny radius primary\">Add Item</button>\n                    </div>\n                  </div>\n                </form>\n            </div>\n\n            <h3>Item List</h3>\n\n            <div class=\"panel callout radius\">\n                <ul class=\"cirlce\">\n                    {{#payload}}\n                        <li>\n                          <b>{{title}}</b>\n                            {{priority}}\n                        </li>\n                    {{/payload}}\n                </ul>\n            </div>\n\n        </div>\n    </div>\n    \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js\"></script>\n    <script>\n    $(document).foundation();\n    </script>\n    <script src=\"https://rawgit.com/BluemixCloud/calculator/master/main.js\"></script>\n</body>\n</html>\n","x":648,"y":167,"z":"3141c66.fcebe3a","wires":[["35e92973.ca16d6"]]},{"id":"62ad9da.f9d5264","type":"http in","name":"","url":"/todo","method":"get","swaggerDoc":"","x":131,"y":94,"z":"3141c66.fcebe3a","wires":[["ab636eb9.549c9"]]},{"id":"35e92973.ca16d6","type":"http response","name":"","x":785,"y":61,"z":"3141c66.fcebe3a","wires":[]},{"id":"f6343089.09cbd","type":"http in","name":"","url":"/todo","method":"post","swaggerDoc":"","x":124,"y":271,"z":"3141c66.fcebe3a","wires":[["d7349f0c.28cb6","ab636eb9.549c9"]]},{"id":"d7349f0c.28cb6","type":"cloudant out","service":"ok1-cloudantNoSQLDB","cloudant":"","name":"","database":"todos","payonly":true,"operation":"insert","x":505,"y":273,"z":"3141c66.fcebe3a","wires":[]},{"id":"ba8e8644.457178","type":"cloudant in","service":"ok1-cloudantNoSQLDB","cloudant":"","name":"","database":"todos","search":"_all_","design":"","index":"","x":503,"y":82,"z":"3141c66.fcebe3a","wires":[["e1d02b0f.1e2fd8"]]},{"id":"ab636eb9.549c9","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":346,"y":174,"z":"3141c66.fcebe3a","wires":[["ba8e8644.457178"]]}]
