nodered.js
[{"id":"cfb92a2.f3046d8","type":"template","name":"","field":"payload","format":"handlebars","template":"<!DOCTYPE html>\n<!--[if IE 9]><html class=\"lt-ie10\" lang=\"en\" > <![endif]-->\n<html class=\"no-js\" lang=\"en\" >\n\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BlueTodo</title>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css\">\n    <link rel=\"stylesheet\" href=\"https://rawgit.com/BluemixCloud/calculator/master/style.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/modernizr.js\"></script>\n</head>\n<body>\n    \n    <div class=\"row\">\n        <div class=\"small-12 columns\">\n            <h1><a href=\"/todo\">BlueTodo</a></h1>\n\n            <div class=\"panel radius\">\n                <form method=\"post\" action=\"/todo\">\n                  <div class=\"row\">\n                    <div class=\"small-4 columns\">\n                        <input type=\"text\" placeholder=\"Get Milk\" name=\"title\">\n                    </div>\n                    <div class=\"small-4 columns\">\n                        <input type=\"text\" placeholder=\"High\" name=\"priority\">\n                    </div>\n                    <div class=\"small-4 columns\">\n                        <button type=\"submit\" class=\"tiny radius primary\">Add Item</button>\n                    </div>\n                  </div>\n                </form>\n            </div>\n\n            <h3>Item List</h3>\n\n            <div class=\"panel callout radius\">\n                <ul class=\"cirlce\">\n                    {{#payload}}\n                        <li>\n                          <b>{{title}}</b>\n                            {{priority}}\n                        </li>\n                    {{/payload}}\n                </ul>\n            </div>\n\n        </div>\n    </div>\n    \n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/vendor/jquery.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.min.js\"></script>\n    <script>\n    $(document).foundation();\n    </script>\n    <script src=\"https://rawgit.com/BluemixCloud/calculator/master/main.js\"></script>\n</body>\n</html>\n","x":644,"y":213,"z":"5b211ae3.a4dee4","wires":[["3012fece.cfed02"]]},{"id":"3bc0c87f.c43f38","type":"http in","name":"","url":"/todo","method":"get","swaggerDoc":"","x":127,"y":140,"z":"5b211ae3.a4dee4","wires":[["cfdeca15.302138"]]},{"id":"3012fece.cfed02","type":"http response","name":"","x":781,"y":107,"z":"5b211ae3.a4dee4","wires":[]},{"id":"a42cd397.5bd33","type":"http in","name":"","url":"/todo","method":"post","swaggerDoc":"","x":120,"y":317,"z":"5b211ae3.a4dee4","wires":[["a02148ab.5fdeb8","cfdeca15.302138"]]},{"id":"a02148ab.5fdeb8","type":"cloudant out","service":"cm1-cloudantNoSQLDB","cloudant":"","name":"","database":"todos","payonly":true,"operation":"insert","x":501,"y":319,"z":"5b211ae3.a4dee4","wires":[]},{"id":"158757f.fea78a8","type":"cloudant in","service":"cm1-cloudantNoSQLDB","cloudant":"","name":"","database":"todos","search":"_all_","design":"","index":"","x":499,"y":128,"z":"5b211ae3.a4dee4","wires":[["cfb92a2.f3046d8"]]},{"id":"cfdeca15.302138","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342,"y":220,"z":"5b211ae3.a4dee4","wires":[["158757f.fea78a8"]]}]
